@model PersianResumeBuilder.DTOs.RegisterDTO


<form asp-controller="Account" asp-action="Register" method="post" class="container p-4 border rounded bg-light">
    <h2 class="text-center mb-4">ثبت نام</h2>

    <div class="mb-3">
        <label asp-for="FullName" class="form-label">نام کامل</label>
        <input type="text" asp-for="FullName" class="form-control" placeholder="نام خود را وارد کنید" />
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">شماره موبایل</label>
        <input type="text" asp-for="Phone" class="form-control" placeholder="شماره موبایل خود را وارد کنید" />
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">ایمیل</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="ایمیل خود را وارد کنید" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">رمز عبور</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور خود را وارد کنید" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Re_Password" class="form-label">تکرار رمز عبور</label>
        <input type="password" asp-for="Re_Password" class="form-control" placeholder="رمز عبور را دوباره وارد کنید" />
        <span class="text-danger" asp-validation-for="Re_Password"></span>
    </div>

    <input type="checkbox" class="form-check-input" asp-for="AcceptTerms" id="terms">
    <label class="form-check-label" for="terms">قوانین سایت را قبول می‌کنم</label>
    <span class="text-danger" asp-validation-for="AcceptTerms"></span>

    <button type="submit" class="btn btn-primary w-100">ثبت‌نام</button>
</form>