@model PersianResumeBuilder.DTOs.RegisterDTO



<h2 class="text-center">ثبت نام</h2>
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="FullName">نام کامل</label>
        <input type="text" class="form-control"   asp-for="FullName" placeholder="نام خود را وارد کنید">
        <div class="mb-3">
            <label class="form-label" asp-for="Phone">موبایل</label>
            <input type="text" class="form-control" asp-for="Phone" placeholder="شماره موبایل را وارد کنید">
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Email">ایمیل</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="ایمیل خود را وارد کنید">
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password">رمز عبور</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="رمز عبور را وارد کنید">
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Re_Password">تایید رمز عبور</label>
            <input type="password" class="form-control" asp-for="Re_Password" placeholder="رمز عبور را دوباره وارد کنید">
            <span style="color:red" asp-validation-for="Re_Password"></span>
        </div>
        <button type="submit" class="btn btn-custom w-100">ثبت نام</button>
</form>



